{% extends 'base.html' %}
{% block content %}
    <h1 class="mb-4">🎥 Edit Stream</h1>

    <!-- Alert if flash messages are present -->
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="alert alert-{% if category == 'error' %}danger{% else %}{{ category }}{% endif %}">{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <form action="{{ url_for('edit_stream', id=stream.id) }}" method="post">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.judul.label(class="form-label") }} <i class="bi bi-pencil"></i>
            {{ form.judul(class="form-control", autofocus=True, value=stream.judul if stream else '') }}
        </div>
        
        <div class="mb-3">
            {{ form.deskripsi.label(class="form-label") }} <i class="bi bi-file-text"></i>
            <textarea class="form-control" id="deskripsi" maxlength="1000" minlength="1" name="deskripsi" required="">{{ stream.deskripsi  }}</textarea>
        </div>
        <div class="mb-3">
            <!-- video preview -->
            <div class="video-container" style="width: 50%; margin: auto;">
                <video controls class="form-control">
                    <source src="{{ url_for('static', filename=stream.video.path) }}">
                </video>
            </div>
            <label for="video">Video</label>
            <select name="video_id" id="video" class="form-control" required>
                {% if videos|length == 0 %}
                    <option value="">No Video - Upload first</option>
                {% else %}
                    <option value="">Select a Video</option>
                {% endif %}
                {% for video in videos %}
                    <option value="{{ video.id }}" {% if video.id == stream.video.id %}selected{% endif %}>{{ video.judul }} - {{ video.deskripsi|truncate(20, True) }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            {{ form.kode_stream.label(class="form-label") }} <i class="bi bi-code-slash"></i>
            {{ form.kode_stream(class="form-control", value=stream.kode_stream if stream else '') }}
        </div>        
        <div class="mb-3">
            {{ form.start_at.label(class="form-label") }} <i class="bi bi-clock"></i>
            {{ form.start_at(class="form-control", value=stream.start_at_str ) }}
        </div>
        <div class="mb-3">
            {{ form.end_at.label(class="form-label") }} <i class="bi bi-clock"></i>
            {{ form.end_at(class="form-control", value=stream.end_at_str ) }}
        </div>
        <div class="form-check mb-3">
            {{ form.is_repeat(class="form-check-input", checked="checked" if stream.is_repeat else None) }}
            {{ form.is_repeat.label(class="form-check-label") }}
        </div>
        
        {{ form.submit(class="btn btn-success form-control", value="Update Stream") }}
    </form>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $('input[name="judul"]').focus();
    });
</script>
{% endblock %}
