{% extends 'base.html' %}

{% block content %}
<h1>Register</h1>
<!-- alert if flash -->
{% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{% if category == 'error' %}danger{% else %}{{ category }}{% endif %}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
{% endwith %}
<form method="POST">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        <!-- <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username" name="username" autofocus required> -->
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control", autofocus=True) }}
    </div>
    <div class="mb-3">
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
        <!-- <label for="password" class="form-label">Password:</label>
        <input type="password" class="form-control" id="password" name="password" required> -->
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="form-control") }}
    </div>
    {% if not is_admin_exists %}
    <!-- checbock is_admin jika nilai is_admin_exists -->
    <div class="mb-3 form-check">
        {{ form.is_admin(class="form-check-input") }}
        {{ form.is_admin.label(class="form-check-label") }}
    </div>
    {% endif %}
    <!-- <button type="submit" class="btn btn-primary">Register</button> -->
    {{ form.submit(class="btn btn-success form-control") }}
</form>
{% endblock %}
